.modal-btn {
  padding: .6em .8em .8em;
  border: none;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}
.modal-btn.primary {
  background: #7dc800;
}
.overlay {
  background: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.overlay.activa {
  display: flex;
}
.modal {

  width: 500px;
  background: #212535;
  padding: 2em;
  border-radius: .5em;
  text-align: center;
  z-index: 2;
  transform: translateY(-3000px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal h1{
  margin-bottom: 20px;
}
.modal-content {
  display: flex;
  margin-bottom: 10px;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
}
.modal-content p {
  align-self: center;
  font-size: 15px;
  overflow: auto;
  height: 350px;

}
/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
@media (max-width:425px){
  .modal{
    width: 350px;
    height: 350px;
    padding: 1em;
  }
  .modal-content{
    display: block;
  }
  .modal-content img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    margin-right: 0;
  }
  .modal-content p {
    font-size: 10px;
    overflow: auto;
    height: 100px;
  }
  .modal-btn{
    padding: .3em .4em .4em;
  }

}

