@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hk9uge');
  src:  url('../fonts/icomoon.eot?hk9uge#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hk9uge') format('truetype'),
    url('../fonts/icomoon.woff?hk9uge') format('woff'),
    url('../fonts/icomoon.svg?hk9uge#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e986";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
